$blue:#63C8D4;

@import '../../bower_components/foundation/scss/foundation';
body{
}
div.bg{
	position:absolute;
	top:0;right:0;bottom:0;
	left:0;
	width:100%;
	overflow:hidden;
	svg{
		width:100%;
		height:auto;
	}
}
body{
	overflow-x:hidden;
	.bg svg rect{
		fill:#63c9d5; //blue
		// fill:#D85036; // Red
		// fill:#67B26F; // Green
		// fill: #FCCF40; // Yellow
		// fill: #8c7eab; // Purple
	}
}

// structure SVG colors based on body class
.wrapper{
	position:relative;
	z-index:1;
}
header{
	width:100%;
	position: absolute;
	top:0;right:0;bottom:auto;left:0;
	z-index:10;
	a{
		&.logo{
			float:left;
			margin:7.5% 0 0 (128 / 1190) * 100%;
			display:block;
		}
		&.navLink{
			position:absolute;
			top:20%;
			left:5%;
		}
	}
	div.links{
		float:left;
		
		text-align: right;
		// @media ($medium-up){
			position:absolute;
			top:20%;
			right:5%;
			float:none;width:auto;
		// }
		a{
			color:#fff;
			padding:.6rem 1rem;
			display:inline-block;
			&.border{
				border:2px solid #fff;
			}
			& + a{
				margin-left:1rem;
			}
		}
	}
}
nav.nav{
	position:fixed;
	height:100%;max-width:0;
	width:0;
	overflow:hidden;
	opacity:0;
	transition:opacity 0.4s linear 0s;
	&.nav--open{
		opacity:1;
	}

}
section{
	// padding-top:250px;
	position:relative;
	overflow:hidden;
}


.shape{
	position: absolute;
	transition: transform .2s linear 0s, background-color .2s linear 0s;
	-webkit-transition: transform .2s linear 0s, background-color .2s linear 0s;
	transform-origin: 50% 50%;
    overflow:hidden;
	z-index:1;
	img{
		display:block;
		width:100%;
	}
	& > a{
		display:block;
		overflow:hidden;
		opacity:0.9;
		width:100%;
	}
	&:hover,&:focus, &.focus{
		transform:scale(1.1);
		-webkit-transform:scale(1.1);
	    z-index:2;
	    a{
			opacity:1;
		}

	}
	&:focus{
		outline:0;
	}


	// triangles
	&.shape__triangle_up, &.shape__triangle_up > a{
		-webkit-clip-path: polygon(0 100%, 50% 0, 100% 100%);
		clip-path: polygon(0 100%, 50% 0, 100% 100%);
		clip-path: url("../#triangleUp");
		span{
			padding-top:2em;
		}
	}
	&.shape__triangle_down, &.shape__triangle_down > a{
		-webkit-clip-path:polygon(0 0, 50% 100%, 100% 0);
		clip-path:polygon(0 0, 50% 100%, 100% 0);
		clip-path: url("../#triangleDown");
		span{
			padding-bottom:2em;
		}
	}


	// Polygons
	&.shape__right_arrow, &.shape__right_arrow > a{
		-webkit-clip-path:polygon(66.6666% 0, 100% 50%, 66.66666% 100%, 0 100%, 33.333% 50%, 0 0);
		clip-path:polygon(66.6666% 0, 100% 50%, 66.66666% 100%, 0 100%, 33.333% 50%, 0 0);
		clip-path: url("../#rightArrow");
	}
	&.shape__left_arrow, &.shape__left_arrow > a{
		-webkit-clip-path:polygon(33.333% 0, 100% 50%, 33.333% 100%, 0 100%, 66.666% 50%, 0 0);
		clip-path:polygon(33.333% 0, 100% 50%, 33.333% 100%, 0 100%, 66.666% 50%, 0 0);
		clip-path: url("../#leftArrow");
	}

	&.shape__hexagon, &.shape__hexagon > a{
		-webkit-clip-path: polygon(0 50%, 24.739% 0, 74.913% 0, 100% 50%, 74.913% 100%, 24.739% 100%);	
		clip-path: polygon(0 50%, 24.739% 0, 74.913% 0, 100% 50%, 74.913% 100%, 24.739% 100%);
		clip-path: url("../#hexagon");

	}
	&.shape__polygon_1, &.shape__polygon_1 > a{
		-webkit-clip-path: polygon(0 50%, 16.6% 25%, 50% 25%, 66.66% 0, 100% 50%, 66.66% 100%, 50% 75%, 66.66% 50%);	
		clip-path: polygon(0 50%, 16.6% 25%, 50% 25%, 66.66% 0, 100% 50%, 66.66% 100%, 50% 75%, 66.66% 50%);	
		clip-path: url("../#polygon1");
	}
	&.shape__left_arrow_top, &.shape__left_arrow_top > a{
		-webkit-clip-path: polygon(0 66.666%, 66.666% 0, 100% 33.333%, 100% 100%, 33.333% 100%);	
		clip-path: polygon(0 66.666%, 66.666% 0, 100% 33.333%, 100% 100%, 33.333% 100%);
		clip-path: url("../#leftArrowTop");
	}
	&.shape__left_angle_para, &.shape__left_angle_para > a{
		-webkit-clip-path: polygon(0 33.333%, 33.333% 0, 100% 66.666%, 66.666% 100%);
		clip-path: polygon(0 33.333%, 33.333% 0, 100% 66.666%, 66.666% 100%);
		clip-path: url("../#leftPara");
	}
	&.shape__left_para_leg, &.shape__left_para_leg > a{
		-webkit-clip-path: polygon(50% 0, 100% 0%, 75% 50%, 100% 100%, 0 100%);
		clip-path: polygon(50% 0, 100% 0%, 75% 50%, 100% 100%, 0 100%);
		clip-path: url("../#leftParaLeg");
	}
	&.shape__polygon_2, &.shape__polygon_2 > a{
		-webkit-clip-path: polygon(0 50%, 40% 50%, 20% 0, 100% 0, 80% 50%, 100% 100%, 20% 100%);
		clip-path: polygon(0 50%, 40% 50%, 20% 0, 100% 0, 80% 50%, 100% 100%, 20% 100%);
		clip-path: url("../#polygon2");
	}

	&.shape__polygon_3, &.shape__polygon_3 > a{
		// S Shape with extra arm
		-webkit-clip-path: polygon(0 0, 33.333% 0, 50% 33.333%, 66.666% 0, 100% 66.666%, 83.333% 100%, 50% 100%, 66.666% 66.666%, 33.333% 66.666%);
		clip-path: polygon(0 0, 33.333% 0, 50% 33.333%, 66.666% 0, 100% 66.666%, 83.333% 100%, 50% 100%, 66.666% 66.666%, 33.333% 66.666%);
		clip-path: url("../#polygon3");
	}
	&.shape__hexagon_inverted, &.shape__hexagon_inverted > a{
		-webkit-clip-path: polygon(0 0, 100% 0, 75% 50%, 100% 100%, 0 100%, 25% 50%);
		clip-path: polygon(0 0, 100% 0, 75% 50%, 100% 100%, 0 100%, 25% 50%);
		clip-path: url("../#hexagonInverted");
	}

	&.shape__left_trap, &.shape__left_trap > a{
		-webkit-clip-path: polygon(66.666% 0, 100% 50%, 66.666%, 100%, 0 100%);
		clip-path: polygon(66.666% 0, 100% 50%, 66.666%, 100%, 0 100%);
		clip-path: url("../#leftTrap");
	}
	&.shape__rhombus, &.shape__rhombus > a{
		-webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0% 50%);
		clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0% 50%);
		clip-path: url("../#rhombus");
	}

	// &.shape__s_shape, &.shape__s_shape > a{
	// 	-webkit-clip-path: polygon(0 33.333%, 25% 0, 75% 0, 50% 33.333%, 100% 100%, 0 100%, 25% 66.666%);
	// 	clip-path: polygon(0 33.333%, 25% 0, 75% 0, 50% 33.333%, 100% 100%, 0 100%, 25% 66.666%);
	// 	clip-path: url("../#sShape");
	// }
	
	&.shape__triangle_bl, &.shape__triangle_bl > a{
		-webkit-clip-path: polygon(0 66.666%, 40% 0, 100% 100%, 20% 100%, 40% 66.666%);
		clip-path: polygon(0 66.666%, 40% 0, 100% 100%, 20% 100%, 40% 66.666%);
		clip-path: url("../#triangleBl");
		
	}

	&.shape__right_arrow_bottom, &.shape__right_arrow_bottom > a{
		-webkit-clip-path: polygon(0 0, 66.666% 0, 100% 33.333%, 33.333% 100%, 0 66.666%, 33.333% 33.333%);
		
		clip-path: polygon(0 0, 66.666% 0, 100% 33.333%, 33.333% 100%, 0 66.666%, 33.333% 33.333%);
		
		clip-path: url('../#rightArrowBottom');
		// background:#fff;

	}

	&.shape__s_shape, &.shape__s_shape > a{
		-webkit-clip-path: polygon(0 33.333%, 20% 0, 60% 0, 40% 33.333%, 80% 33.333%, 100% 66.666%, 80% 100%, 40% 100%, 60% 66.666%, 20% 66.666%);
		clip-path: polygon(0 33.333%, 20% 0, 60% 0, 40% 33.333%, 80% 33.333%, 100% 66.666%, 80% 100%, 40% 100%, 60% 66.666%, 20% 66.666%);
		clip-path: url("../#sShape");
	}

	&.shape__ld_arrow, &.shape__ld_arrow > a{
		-webkit-clip-path: polygon(0 66.666%, 40% 0, 60% 33.333%, 100% 33.333%, 60% 100%, 20% 100%);
		clip-path: polygon(0 66.666%, 40% 0, 60% 33.333%, 100% 33.333%, 60% 100%, 20% 100%);
		clip-path: url("../#ldArrow");
	}
	

	&.no__shape{
		-webkit-clip-path: none;
		clip-path: none;
		clip-path: none;
		svg{
			position:absolute;
			top:0;
			left:0;
		}
	}
	&.shape--empty{
		&:after{
			content:'';
			display:block;
			width:100%;
			padding-top:86.5%;
			// background:#63c9d5;

		}
		a{
			// solid color bg

			display:block;
			position:absolute;
			top:0;right:0;
			bottom:0;left:0;
			
			width:100%;
			height:100%;
			span{
				display:table;
				position:absolute;
				top:0;right:0;
				bottom:0;left:0;
				margin:auto;
			    width: 60%;
			    text-align: center;

			}
			// testing

		}
	}

	//colors
	&.shape--bg{
		pointer-events:none;
		opacity: 0.8;
		&.shape__triangle_down{
			margin-top:-0.15%;
		}
	}
	&.shape--green{
		background:#67B26F;
	}
	&.shape--red{
		background:#D85036;
	}
	&.shape--blue{
		background:#63C8D4;
	}

}

.tooltip__holder{
	position:absolute;
	display:none;
	pointer-events: none;
	background:#fff;
	color:#00f;
	padding:0 0.2em;
	white-space:nowrap;
	&.active{
		display:block;
		z-index:2;
	}
}

/* Debugging */
svg a{
	background:#000;
}
